{:lib com.github.liquidz/build.edn
 :version "0.5.{{git/commit-count}}"
 :description "Make your Clojure library build process easy"
 :documents [{:file "CHANGELOG.adoc"
              :match "Unreleased"
              :action :append-after
              :text "\n== {{version}} ({{now/yyyy}}-{{now/mm}}-{{now/dd}})"}
             {:file "README.adoc"
              :match ":deps.+com\\.github\\.liquidz/build\\.edn"
              :action :replace
              :text " {:build {:deps {com.github.liquidz/build.edn {:git/tag \"{{version}}\" :git/sha \"{{git/head-short-sha}}\"}}"}]
 :github-actions? true}
