{:lib com.github.liquidz/build.edn
 :version "0.11.{{git/commit-count}}"
 :description "Make your Clojure library build process easy"
 :licenses [{:name "Eclipse Public License - v 2.0"
             :url "https://www.eclipse.org/legal/epl-2.0/"}]
 :documents [{:file "CHANGELOG.adoc"
              :match "Unreleased"
              :action :append-after
              :text "\n== {{version}} ({{now/yyyy}}-{{now/mm}}-{{now/dd}})"}
             {:file "README.adoc"
              :match ":deps.+com\\.github\\.liquidz/build\\.edn"
              :action :replace
              :keep-indent? true
              :text "{:build {:deps {com.github.liquidz/build.edn {:mvn/version \"{{version}}\"}}"}
             {:file "README.adoc"
              :match ":git/tag "
              :action :replace
              :keep-indent? true
              :text ";; :git/tag \"{{version}}\" :git/sha \"{{git/head-short-sha}}\""}]
 :github-actions? true}
