{:lib com.github.liquidz/build.edn
 :version "0.1.{{commit-count}}"
 :scm {:connection "scm:git:git://github.com/liquidz/build.edn.git"
       :developerConnection "scm:git:ssh://git@github.com/liquidz/build.edn.git"
       :url "https://github.com/liquidz/build.edn"}
 :changelog-file "CHANGELOG.adoc"
 :changelog-title "== {{version}} ({{yyyy-mm-dd}})"
 :github-actions? true}
