{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/data.xml {:mvn/version "0.2.0-alpha8"}
        io.github.clojure/tools.build {:mvn/version "0.9.6"}
        rewrite-clj/rewrite-clj {:mvn/version "1.1.47"}
        metosin/malli {:mvn/version "0.13.0"}
        slipset/deps-deploy {:mvn/version "0.2.2"}
        pogonos/pogonos {:mvn/version "0.2.1"}
        aero/aero {:mvn/version "1.1.6"}}

 :aliases {:dev {:extra-paths ["test"]
                 :extra-deps {lambdaisland/kaocha {:mvn/version "1.88.1376"}}}

           :test {:main-opts ["-m" "kaocha.runner"]}

           :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}
                                   org.slf4j/slf4j-nop {:mvn/version "RELEASE"}}
                      :main-opts ["-m" "antq.core"]}

           :build {:deps {sut/sut {:local/root "."}}
                   :ns-default build-edn.main}}}
